@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou&display=swap');
.data{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.text{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
}
body{
    background-color: whitesmoke;
}
header{
    padding: 1.5% 0 1.5% 0;
    font-family: 'ZCOOL QingKe HuangYou';
    text-align: center;
    font-size: 22px;
    line-height: 1.5em;
    background-color: honeydew;
    word-spacing: 1em;
    border-bottom:2px outset black;
    border-radius: 0 0 15% 15%;
    position:sticky;
    top: 0;
}
nav ul li{
    display:inline-block;
    word-spacing: normal;
}
a{
    text-decoration: none;
    color: rgb(60, 60, 112);
}
a:hover{
    color: violet;
}
nav ul li a{
    color: rgb(60, 60, 112);
}
nav ul li a:hover{
    color: violet;
}
main{
    margin: 1% 10%;
    background-color: rgb(252, 250, 241);
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px dotted black;
    border-radius: 5% 0 5% 0;
    min-height: calc(100vh - 50px);
}
#main-div{
    margin: 0 5%;
}
.div1 {
    overflow: auto;
}
.div1 p{
    text-align: justify;
}
.div1 img{
    width: 50%;
    height: 50%;
    float: left;
}
.div2{
    padding-top: 50px;
    overflow: auto;
}
.div2 img {
    float: right;
}
.div2 p{
    padding-top: 30px;
    text-align: justify;
}
h2 {
    font-family: 'ZCOOL QingKe HuangYou';
    padding: 20px;
    font-size: 20px;
}
.places{
    margin: 25px 25px;
    overflow: hidden;
}
.places1 ul {
    margin-top: 60px;
    margin-left: 50px;
    line-height: 200%;
    width: 50%;
    list-style-type: circle;
    padding-left: 50px;
    float: left;
}
.places1 p{
    float: right;
}
p.text {
    margin-top: 20px;
}
h2{
    text-align: center;
}
#mainTable, #mainTable th, #mainTable td {
    border: 1px solid black;
    width: 30%;
    height: 30px;
}
footer{
    text-align: center;
    padding: 1% 0;
    background-color: grey;
}
table {
    width: 70%;
    margin: 50px auto;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 20px 20px 20px rgba(0,0,0,0.4);
}
tr th{
    text-align: left;
    padding: 10px 10px;
    border-bottom: 1px solid rgb(121, 121, 121);
}
tr:first-child{
    border-top: 5px double black;
 
}
tr:last-of-type{
    border-bottom: 5px double black;
}
tr:nth-of-type(odd){
    background-color: #d3d3d3;
}
table tr:first-child {
    background-color: rgb(176, 192, 176);
    font-weight: bolder;
    text-align: left;
}
